{% extends 'base.html' %}

{% block title %}Your Choice{% endblock %}

{% block head %}
    <a href="/profil" class="link">Profil</a><br><br>   
    <a href="/index" class="link">Menu</a>
{% endblock %}


{% block content %}
    <form action="/choix" method="post">
        <div><label>Forname</label> : <input type="text" name="forname" value="{{ session['forname'] }}"/></div>
        <div><label>Surname</label> : <input type="text" name="surname" value="{{ session['surname']}}"/></div>
        <div><label>Phone number</label> : <input type="tel" name="tel" value="{{ session['tel'] }}"/></div>
        <div><label>Maximum budget per month</label> : <input type="number" min="0" name="budget" value="{{ session['budget'] }}"/></div>
        <div><label>Sexe : </label>
        <select name="sexe" id="sexe">
        {% if session['sexe'] == 'Homme' %}
            <option value="Homme">Homme</option>
            <option value=""></option>
            <option value="Femme">Femme</option>
        {% elif session['sexe'] == 'Femme' %}
            <option value="Femme">Femme</option>
            <option value="">
            </option><option value="Homme">Homme</option>
        {% else%}
            <option value=""></option>
            <option value="Homme">Homme</option>
            <option value="Femme">Femme</option>
        {%endif%}   
        </select></div>
    
        <div>Any allergies ?</div>
        {% for elt in allergenes %}
            {% if elt in session['allergene'] %}
                <input type="checkbox" name="{{elt}}" checked/><label>{{elt}}</label>
            {% else %}
                <input type="checkbox" name="{{elt}}"/><label>{{elt}}</label>
            {%endif%}
        {% endfor %}

        <div>What utensils do you have ?</div>
        {% for elt in ustensiles %}
            {% if elt in session['ustensile'] %}
                <div><input type="checkbox" name="{{elt}}" checked/><label>{{elt}}</label></div>
            {% else %}
                <div><input type="checkbox" name="{{elt}}"/><label>{{elt}}</label></div>
            {%endif%}
        {% endfor %}
        <input type="submit" value="Valider" />
    </form> 
{% endblock %}