{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block head %}
    <a href="/index" class="link">Menu</a>
{% endblock %}


{% block content %}
    {% if error%}
        <p><strong>{{error}}</strong></p>
    {% endif%}

    <form action="/login" method="post">
        <div class="input"><label>Username : </label><input type="text" name="username" /></div>
        <div class="input"><label>Password : </label><input type="password" name="password" /></div>
        <input type="submit" value="Log in" />
        
    </form>
    Don't have an account? <a href="/register" class="link2">Create one here</a>
{% endblock %}