{% extends 'base.html' %}

{% block title %}{{ recipeData.title }}{% endblock %}

{% block content %}
  <section class="recipe container">
    <div class="title">
  <h1>{{ recipeData.title }}</h1>
  {{ recipeData.price }}
    </div>
    

  <img src="{{ recipeData.imageURL }}" alt="{{ recipeData.title }}" loading="lazy">

  <p>Category: {{ recipeData.category }}</p>

  <section class="ingredients">
    <div class="title">
  <h1> To prepare this meal you will need :</h1>
    </div>
  <ul class="ingredient list">
    {% for ingredient in recipeData.ingredients %}
      <li>
        {{ ingredient.name }}
        {% if ingredient.amountint %}
          :
          {% if ingredient.amountnum %}
            {{ ingredient.amountnum }}/{{ ingredient.amountdenom or 1 }}
          {% else %}
            {{ ingredient.amountint }}
          {% endif %}
        {% endif %}
        {{ ingredient.unit }}
        <div class="price"> {{ ingredient.price }} </div>
      </li>
    {% endfor %}
  </ul>
  </section>
  <section class="instructions">
    <h1>Instructions</h1>
  <ol>
    {% for instruction in recipeData.instructions %}
      <li>{{ instruction.text }}</li>
    {% endfor %}
  </ol>
  </section>
  </section>
{% endblock %}
