:root {
  /* Recipes layout */
  --recipeWidth: 400px;
  --recipeBorderRadius: 16px;
  --rowIncrement: 10px;

   /* Colors */
  --color1: #94E8B4;
  --color2: #72BDA3;
  --color3: #5E8C61;
  --color4: #4E6151;
  --color5: #3B322C;
}

*{
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  width: 400px;
  border-radius: var(--recipeBorderRadius);
}

li {
  list-style: none;
  padding: 10px;
}

.container {
  padding: 10px 20px;
  width: 80vw;
}

main {
  background: var(--color4);
  display: flex;
  justify-content: center;
}

header {
  background: var(--color3);
  display: flex;
  justify-content: center;
  border-bottom: var(--color5) solid 2px;
  color: var(--color5);
}

header a {
  color: var(--color5)
}

header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

header .log {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Recipe layout */

.recipes {
  display: grid;
  justify-content: center;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, var(--recipeWidth));
  grid-template-rows: masonry;
}

.recipes a {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Form */

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input {
  display: flex;
  flex-direction: column;
  width: 500px;
}

input, buttom {
  padding: 5px 0px;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* Specify Search */

.specifySearch {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
}

.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchBar input {
  padding: 5px 0px;
  margin: 0;
}
