<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WhaTNeat{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>
  <header>
    <div class="container">
        <a href="{{ url_for('index') }}" class="header-left">
          <img src="/static/logo.jpg" href="{{ url_for('index') }}" class="logo">
          <h2>
            WhaTNeat
          </h2>
        </a>
      <div class="header-right">
        {% block headerRight %}
        <div class="planify-buttom">
          <a href="/planify">Plan</a>
        </div>
        {% if 'user' in session %}
        <div class="profile" tabindex="0">
            <p>My profile</p>
        </div>
        <div class="profile-block">
          <a href="/profil">My profile</a>
          <a href="/choix">Modify my preferences</a>
          <a href="/logout">Log out</a>
        </div>
        {% else %}
        <div class="log">
        <a href="/login">Log in</a>
        <a href="/register">Register</a>
        </div>
        {% endif %}
        {% endblock %}
      </div>
    </div>
  </header>

    <main>
      <section>
        {% block content %}{% endblock %}
      </section>
    </main>

    <footer>
        <!-- Add footer content here -->
    </footer>
</body>
</html>
