<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WhaTNeat{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
      <div class="container">
        <div>
          <h2>
          <a href="{{ url_for('index') }}">
          WhaTNeat
          </a>
          </h2>
        </div>
        <div>
          <a href="{{ url_for('index')}}">Planify</a>
        </div>
        <div class="log">
          {% if user %}
          <div class="greet">
            <p>Hello, <a href="{{ url_for('profile') }}">{{ user.username }}</a>!</p>
          </div>
          <div class="logout">
            <a href="{{ url_for('logout') }}">Log out</a>
          </div>
          {% else %}
          <div class="login">
            <a href="{{ url_for('login')}}">Login</a>
          </div>
          <div class="register">
            <a href="{{ url_for('register')}}">Register</a>
          </div>
          {% endif %}
        </div>
      </div>
    </header>

    <main>
      <section>
        {% block content %}{% endblock %}
      </section>
    </main>

    <footer>
        <!-- Add footer content here -->
    </footer>
</body>
</html>
