{% extends 'base.html' %}

{% block title %}Your Choice{% endblock %}

{% block head %}
    <a href="/profil" class="link">Profile</a><br><br>   
    <a href="/index" class="link">Menu</a>
{% endblock %}

{% block content %}
    <div class="choice-container">
        <form action="/choix" method="post">
            <div class="input-group">
                <label for="forname">Forname:</label>
                <input type="text" name="forname" id="forname" value="{{ session['forname'] }}" />
            </div>
            <div class="input-group">
                <label for="surname">Surname:</label>
                <input type="text" name="surname" id="surname" value="{{ session['surname'] }}" />
            </div>
            <div class="input-group">
                <label for="tel">Phone number:</label>
                <input type="tel" name="tel" id="tel" value="{{ session['tel'] }}" />
            </div>
            <div class="input-group">
                <label for="budget">Maximum budget per month:</label>
                <input type="number" min="0" name="budget" id="budget" value="{{ session['budget'] }}" />
            </div>
            <div class="input-group">
                <label for="sexe">Sexe:</label>
                <select name="sexe" id="sexe">
                    {% if session['sexe'] == 'Homme' %}
                        <option value="Homme">Homme</option>
                        <option value="Femme">Femme</option>
                    {% elif session['sexe'] == 'Femme' %}
                        <option value="Femme">Femme</option>
                        <option value="Homme">Homme</option>
                    {% else %}
                        <option value="">Select</option>
                        <option value="Homme">Homme</option>
                        <option value="Femme">Femme</option>
                    {% endif %}
                </select>
            </div>
    
            <div class="input-group">
              <div>
              <p>Any allergies?</p>
              </div>
              <div>
                {% for elt in allergenes %}
                    <div class="checkbox-group">
                        <label>{{ elt }}</label>
                        <input type="checkbox" name="{{ elt }}" {% if elt in session['allergene'] %}checked{% endif %} />
                    </div>
                {% endfor %}
              </div>
            </div>

            <div class="input-group">
              <p>What utensils do you have?</p>
                {% for elt in ustensiles %}
                    <div class="checkbox-group">
                        <label>{{ elt }}</label>
                        <input type="checkbox" name="{{ elt }}" {% if elt in session['ustensile'] %}checked{% endif %} />
                    </div>
                {% endfor %}
            </div>
            
            <input type="submit" value="Validate" />
        </form>
    </div>
{% endblock %}
