{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block content %}
    <p><strong>Hello
        {% if 'forname' in session %}
            {{session['forname']|title}}
        {% elif 'user' in session %}
            {{session['user']|title}}
        {% endif%}
    </strong></p>

    <div class="main-title">
  
    <h2>RECIPE OF THE MOMENT</h2>
    <form action="/index" method="post">
      <div class="searchBar">
        {% if search %}
            <input type="text" name="nom_recette" value="{{search}}" placeholder="Search" class="search-field" />
            <button type="submit" class="search-button">
              <img src="{{ url_for('static', filename='glass.png') }}">
            </button>
        {% else %}
            <input type="text" name="nom_recette" class="search-field" />
            <button type="submit" class="search-button">
              <img src="{{ url_for('static', filename='glass.png') }}">
            </button>
        {% endif %}
      </div>
    </form>
</div>
    <div class="recipes">
    {% if recettes%}
        {% for elt in recettes%}
            <div id="{{elt['id']}}" class="recipe"> 
              <a href="recipe/{{elt['id']}}">
                <div class="recipe-header"
                <h2>{{elt['nom']|title}}</h2>
              </a>
                <form action="/index" method="post">
                    {% if search %}
                        <input type="text" name="nom_recette" value="{{search}}" hidden/>
                    {% endif %}
                    <input type="name" name="change_fav" on hidden/>
                    <input type="text" name="id_recette" value="{{elt['id']}}" hidden/>
                    {% if 'user' in session and elt['id'] in session['favori']%}
                        <input type="checkbox" name="fav" onclick="this.form.submit()" checked/>
                    {% else %}
                        <input type="checkbox" name="fav" onclick="this.form.submit()"/>
                    {% endif %}
                </form>
                </div>
                <a href="recipe/{{elt['id']}}">
                <img src="{{elt['image']}}" loading="lazy"></a>
                
            </div>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}
