<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="title">
          <h1>WhaTNeat</h1>
        </div>
        <div class="log">
          {% if user %}
          <div class="greet">
            <p>Hello, <a href="{{ url_for('profile') }}">{{ user.username }}</a>!</p>
          </div>
          <div class="logout">
            <a href="{{ url_for('logout') }}">Log out</a>
          </div>
          {% else %}
          <a href="{{ url_for('login')}}">Login</a>
          <a href="{{ url_for('register')}}">Register</a>
          {% endif %}
        </div>
      </div>

    </header>
    <main>
      <div class="container">
        <!-- <ul class="recipes"> -->
        <!--   {% for recipe in recipes %} -->
        <!--   <li> -->
        <!--     {{ recipe[0] }}<br> -->
        <!--     <img src="{{ getImage(recipe[0]) }}" alt="{{ recipe[0] }}" loading="lazy"> -->
        <!--     <p>{{ getImage(recipe[0]) }}</p> -->
        <!--   </li> -->
        <!--   {% endfor %} -->
        <!-- </ul> -->
        <img src="{{getImage('dog')}}" alt="dog">
      </div>
    </main>
  </body>
</html>
