{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block head %}
    <a href="/index" class="button">Menu</a>
{% endblock %}


{% block content %}
    <center>{% if error%}
        <p><strong>{{error}}</strong></p>
    {% endif%}</center>

    <form action="/login" method="post">
        <center><label>Username</label> : <input type="text" name="username" /></center>
        <center><label>Password</label> : <input type="password" name="password" /></center>
        <center><input type="submit" value="Log in" /></center>
    </form>
    <center><a href="/register" class="link">Don't have an account? Create one here</a></center>
{% endblock %}