<!-- app/templates/profile.html -->

{% extends 'base.html' %}

{% block title %}Profile{% endblock %}


{% block head %}    
    <a href="/index" class="link">Menu</a>
    <a href="/logout" class="link">Log out</a>
    <a href="/choix" class="link">Change your preference</a>
{% endblock %}

{% block content %}
    <h2>Planify Your Meals</h2>

    <h2>{% if error %}{{error}}{%endif%}</h2>

    <form method="post" action="{{ url_for('planify') }}">
        <label for="diet">Select diet:</label>
        <select id="diet" name="diet">
            {%for categorie in categories %}
                <option value="Vegetarian">{{categorie[0]}}</option>
            {%endfor%}
        </select>

        <label for="max_budget">Maximum Budget:</label>
        <input type="number" id="max_budget" name="max_budget" value="{{session['budget']}}" min="0" required>

        <button type="submit">Generate Plan</button>
    </form>

    {% if recipe_plan%}

    <p>Your Selected Diet: {{ diet }}</p>
    <p>Your Maximum Budget: ${{ max_budget }}</p>

    <h3>Recommended Recipe Plan:</h3>
    <ul>
        {% for recipe in recipe_plan %}
            <li>
                <a href="recipe/{{recipe['id']}}"> {{ recipe.title }}<img src="{{ recipe['imageURL'] }}" alt="{{ recipe.title }}"></a> {{ recipe.price }}
            </li>
        {% endfor %}
    </ul> 
    <h3>List of ingredients</h3>
    <form action="/download" method="post">
        <input type="text" name="ing_list" value="{% for recipe in recipe_plan %}{% for ingredient in recipe['ingredients'] %}- {{ingredient[0]}} {{ingredient[2]}} {{ingredient[3]}} : {{ingredient[1]}}$|{%endfor %}{% endfor %}" hidden/>
        {% for recipe in recipe_plan %}
            {% for ingredient in recipe['ingredients'] %}
                - {{ingredient[0]}} {{ingredient[2]}} {{ingredient[3]}} : {{ingredient[1]}}$<br>
            {% endfor %}
        {% endfor %}
        
        <input type="submit" value="Download" />
    </form>
    {%endif%}

{% endblock %}

