{% extends 'base.html' %}

{% block title %}Planify Your Meals{% endblock %}

{% block content %}
<div class="planify-container">
  <h2>Planify Your Meals</h2>

  {% if error %}
  <p class="error">{{ error }}</p>
  {% endif %}

  <form method="post" action="{{ url_for('planify') }}" class="planify-form">
    <div class="form-group">
      <label for="diet">Select diet:</label>
      <select id="diet" name="diet">
        <!-- Options for diet -->

        {%for categorie in categories %}
        <option value="{{categorie[0]}}">{{categorie[0]}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="max_budget">Maximum Budget:</label>
      <input type="number" id="max_budget" name="max_budget" value="{{ session['budget'] }}" min="0" required>
    </div>

    <button type="submit">Generate Plan</button>
  </form>
</div>
{% if recipe_plan %}
<div class="plan-details">
  <div class="planify-container">
    <div class="plan-title">
      <h3>Your Selected Diet: {{ diet }}</h3>
      <h3>Your Maximum Budget: ${{ max_budget }}</h3>
    </div>
    <h2>Recommended Recipe Plan:</h2>
    <ul class="recipes">
      {% for recipe in recipe_plan %}
      <li class="recipe">
        <a href="recipe/{{ recipe['id'] }}">
          <div class="recipe-header">
            <div>
              {{ recipe.title }}
            </div>
            <div>
              {{ recipe.price }}$
            </div>
          </div>
          <img src="{{ recipe['imageURL'] }}" alt="{{ recipe.title }}">
        </a> 
      </li>
      {% endfor %}
    </ul> 
  </div>
  <div class="planify-container">
    <form action="/download" method="post">
    <div class="recipe-header">
      <div>
      <h3>List of ingredients</h3>
      </div>
      <div class="download">
        <button type="submit">
          <img src="{{ url_for('static', filename='download.png') }}">
        </button>
      </div>
    </div>
      <input type="text" name="ing_list" value="{% for recipe in recipe_plan %}{% for ingredient in recipe['ingredients'] %}- {{ingredient[0]}} {{ingredient[2]}} {{ingredient[3]}} : {{ingredient[1]}}$|{% endfor %}{% endfor %}" hidden/>
      {% for recipe in recipe_plan %}
      {% for ingredient in recipe['ingredients'] %}
      - {{ingredient[0]}} {{ingredient[2]}} {{ingredient[3]}} : {{ingredient[1]}}$<br>
      {% endfor %}
      {% endfor %}

    </form>
  </div>
</div>
</div>

{% endif %}
{% endblock %}
