<!-- app/templates/profile.html -->

{% extends 'base.html' %}

{% block title %}Profile{% endblock %}


{% block head %}    
    <a href="/index" class="link">Menu</a>
    <a href="/logout" class="link">Log out</a>
    <a href="/choix" class="link">Change your preference</a>
    <a href="/planify" class="link">Planify</a>
{% endblock %}


{% block content %}
    <p><strong>Hello
        {% if 'forname' in session %}
            {{session['forname']|title}}
        {% elif 'user' in session %}
            {{session['user']|title}}
        {% endif%}
    </strong></p><br>

    {% if 'allergene' in session %}
            <p><strong>My allergies</strong></p><br>
            {% for elt in session['allergene'] %}
                {{elt}} &emsp;    
            {% endfor %}
    {% endif%}

    {% if 'ustensile' in session %}
        <br><p><strong>My kitchen utensils</strong></p><br>
            {% for elt in session['ustensile'] %}
                {{elt}} &emsp;
            {% endfor %}
    {% endif%}

    {% if 'favori' in session %}
        <section>
        <p><strong>My favorite recipes</strong></p>
        {% for elt in recettes %}
            <div> 
                <form action="/profil" method="post">
                    <input type="name" name="change_fav" on hidden/>
                    <input type="text" name="id_recette" value="{{elt['id']}}" hidden/>
                    <input type="checkbox" name="fav" onclick="this.form.submit()" checked/><label>Favorite</label> 
                </form>
                <label>{{elt['nom']}}</label>
                <br><br>
                <img src="{{elt['image']}}">
                <br><br>
                {% for ingredient in elt['ingredient']%}
                    {%if ingredient[1] != 0 %}    
                        - {{ingredient[0]}} : {{ingredient[1]}} {{ingredient[2]}}<br>
                    {%endif%}
                {% endfor %}
                
                <br>
                <details>
                    <summary >Recipe details</summary><br>
                    {% for instruction in elt['instruction']%}
                        - {{instruction}}<br><br>
                    {% endfor %}
                </details>
            </div>
        {% endfor %}
        </section>
    {% endif%}

{% endblock %}  
