<!DOCTYPE html>
<html lang="en">


<body>
    <a href="/index" class="button">Menu</a>
    <a href="/choix" class="button">Modifier vos preference</a>
    <p><strong>Bonjour
        {% if 'forname' in session %}
            {{session['forname']|title}}
        {% elif 'user' in session %}
            {{session['user']|title}}
        {% endif%}
    </strong></p>
    <br>

    {% if 'allergene' in session %}
        <p><strong>Mes allergies</strong></p>
        {% for elt in session['allergene'] %}
            <div>{{elt}}</div>
        {% endfor %}
    {% endif%}

    <br>

    {% if 'ustensile' in session %}
        <p><strong>Mes ustensiles</strong></p>
        {% for elt in session['ustensile'] %}
            <div>{{elt}}</div>
        {% endfor %}
    {% endif%}

    <br>

    {% if 'favori' in session %}
        <p><strong>Mes recettes favoris</strong></p>
        {% for elt in recettes %}
            <div style="padding:10px 20px 20px;height:1000px;float : left"> 
                <center><label>{{elt['nom']}}</label>
                <br><br>
                <img src="{{elt['image']}}" height="100" width="100">
                <br><br>
                </center>
                {% for ingredient in elt['ingredient']%}
                    - {{ingredient[0]}} : {{ingredient[1]}} {{ingredient[2]}}<br>
                {% endfor %}
                
                <br>
                <details>
                    <summary>Details de la recette</summary><br>
                    {% for instruction in elt['instruction']%}
                        - {{instruction}}<br><br>
                    {% endfor %}
                </details>
            </div>
        {% endfor %}
    {% endif%}
</body>