<!DOCTYPE html>
<html lang="en">

<body>
    
    <a href="/index" class="button">Menu</a>
    <a href="/choix" class="button">Modifier vos preference</a>
    <p><strong>Bonjour
        {% if 'forname' in session %}
            {{session['forname']|title}}
        {% elif 'user' in session %}
            {{session['user']|title}}
        {% endif%}
    </strong></p>
    <br>

    {% if 'allergene' in session %}
        <p><strong>Mes allergies</strong></p>
        {% for elt in session['allergene'] %}
            <div>{{elt}}</div>
        {% endfor %}
    {% endif%}

    <br>

    {% if 'ustensile' in session %}
        <p><strong>Mes ustensiles</strong></p>
        {% for elt in session['ustensile'] %}
            <div>{{elt}}</div>
        {% endfor %}
    {% endif%}

    <br>

    {% if 'favori' in session %}
        <p><strong>Mes Recettes Favoris</strong></p>
        {% for elt in recettes %}
            <label>Nom</label> : {{ elt['nom'] }}
            <br><br> Ingredients  <br><br>
            {% for ingredient in elt['ingredient'] %}
                {{ ingredient}}<br>
            {% endfor %}
            <br>
            <label>Like</label> : {{ elt['like'] }} <label>Dislike</label> : {{ elt['dislike'] }}<br>
        {% endfor %}

    {% endif%}








</body>