{% extends 'base.html' %}

{% block title %}{{recette['nom']}}{% endblock %}

{% block content %}
    <section class="recipe-page">
    <img src="{{ recette['image'] }}" alt="{{ recette['nom'] }}" class="recipe-img">
    <div class="recipe-container">
        <form action="/recipe/{{ recette['id'] }}" method="post">
            <input type="text" name="id_recette" value="{{ recette['id'] }}" hidden/>
            {% if 'user' in session and recette['id'] in session['favori'] %}
                <input type="checkbox" name="fav" onclick="this.form.submit()" checked/><label>Favorite</label>
            {% else %}
                <input type="checkbox" name="fav" onclick="this.form.submit()"/><label>Favorite</label>
            {% endif %}
        </form>
        <h2>{{ recette['nom'] }}</h2>
        <ul class="ingredient-list">
            {% for ingredient in recette['ingredient'] %}
                {% if ingredient[1] != 0 %}
                    <li>- {{ ingredient[0] }}: {{ ingredient[1] }} {{ ingredient[2] }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <details>
            <summary>Recipe Details</summary>
            <ul class="instruction-list">
                {% for instruction in recette['instruction'] %}
                    <li>- {{ instruction }}</li>
                {% endfor %}
            </ul>
        </details>
    </div>
    </section>  
{% endblock %}

