<!DOCTYPE html>
<html lang="en">

<body>
    <a href="/index" class="button">Menu</a>

    <center>{% if error%}
        <p><strong>{{error}}</strong></p>
    {% endif%}</center>

    <form action="/register" method="post">
        <center><label>Username</label> : <input type="text" name="username" /></center>
        <center><label>Email</label> : <input type="text" name="email" /></center>
        <center><label>Password</label> : <input type="text" name="password" /></center>
        <center><label>Password</label> : <input type="text" name="password_retype" /></center>
        <center><input type="submit" value="Envoyer" /></center>
    </form>
    <center><a href="/login" class="link">Vous avez déja un compte ? Connectez-vous ici</a></center>

    
</body>
</html>