<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="title">
          <h1>WhaTNeat</h1>
        </div>
      </div>
    </header>
    <main>
      <div class="title">
        <h1>Register</h1>
      </div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li style="color: {% if 'error' in message %}red{% else %}green{% endif %};">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      <div class="form">
        <form method="post" action="{{ url_for('register') }}">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required><br>
          <label for="email">Email:</label>
          <input type="text" id="email" name="email" required><br>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required><br>
          <input type="submit" value="Register">
        </form>
      </div>
    </main>
  </body>
</html>
