<!DOCTYPE html>
<html lang="en">

<body>
    <form action="/choix" method="post">
        <label>Nom</label> : <input type="text" name="surname" required/>
        <label>Prenom</label> : <input type="text" name="forname" required/>
        <label>Sexe : </label>
        <select name="sexe" id="sexe">
            <option value="Homme">Homme</option>
            <option value="Femme">Femme</option>
        </select>
        <label>Budget maximum par mois</label> : <input type="number" min="0" name="budget" required/>
        <label>Numéro de téléphone</label> : <input type="tel" name="tel" required/>


        <br><br><br><div>Des allergies ?</div><br>
        
        {% for elt in allergenes %}
            <input type="checkbox" name="{{elt}}"/><label>{{elt}}</label>
        {% endfor %}

        <br><br><br><div>Quelle ustensiles avez-vous?</div><br>
        {% for elt in ustensiles %}
            <input type="checkbox" name="{{elt}}"/><label>{{elt}}</label>
        {% endfor %}
        <br><br><br>
        
        <input type="submit" value="Envoyer" />
    </form>





</body>